In [7]:
import numpy as np
import pandas as pd
from mip import Model, xsum, minimize, BINARY

In [9]:
df = pd.read_csv("Data.csv")
df

   Place index                              Place Name  ...     distance  traffic
0            1                         Enghelab Square  ...      0.9,3.2      1,1
1            2                      UT Enghelab campus  ...     0.95,3.5      1,1
2            3           Darvazeh Dowlat Metro Station  ...        4.1,6      1,0
3            4                         UT-Fanni campus  ...    3.9,7.8,5    1,0,0
4            5                          Kasra Hospital  ...  6.3,5.4,6.6    0,1,0
5            6                   Baqiyatallah Hospital  ...      4.5,6.2      0,1
6            7               Mofid Children's Hospital  ...  5.8,7.8,4.6    1,1,1
7            8                  Gholhak Subway Station  ...  1.7,5.1,8.6    1,1,0
8            9  Tehran International Exhibition Center  ...          7.4        0
9           10                        Ekhtiarie Square  ...            4        0

[10 rows x 9 columns]

In [10]:
n = len(df)
weights = np.zeros((n, n))
for i in range(n):
    Neighbors = df['Neighbors_indice'][i].split(",")
    Neighbors = [int(x) for x in Neighbors]
    w = df['Neighbors_weight'][i].split(",")
    w = [int(x) for x in w]
    for idx, nei in enumerate(Neighbors):
      weights[i][nei-1] = w[idx]

In [11]:
weights

array([[ 0.,  1.,  3.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  4.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 5.,  0.,  0.,  0.,  6.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  5.,  0.,  0.,  8.,  5.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  6.,  6.,  0.,  0.,  6.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  4.,  0.,  0.,  7.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  6., 10.,  0.,  5.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  3.,  0.,  9.,  5.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  4.,  0.,  0.]])

In [73]:
def get_input(df):
    print("The names of the places are:")
    print("1: Enghelab Square , 2: UT Enghelab campus , 3: Darvazeh Dowlat Metro Station")
    print("4: UT-Fanni campus , 5: Kasra Hospital , 6: Baqiyatallah Hospital")
    print("7: Mofid Children's Hospital, 8: Gholhak Subway Station")
    print("9: Tehran International Exhibition Center, 10: Ekhtiarie Square")
    Starting_Point = input("\nPlease enter the Starting Point name just as same as above names : ")
    Destination_Point = input("\nPlease enter the Destination Point name just as same as above names : ")
    
    start = df["Place Name"].str.find(Starting_Point)
    start = list(start)
    start = start.index(0)

    destination = df["Place Name"].str.find(Destination_Point)
    destination = list(destination)
    destination = destination.index(0)

    print("\nIndex of Starting Point is: %d, and it's coordinate is: %f, %f" %(start + 1, df["Latitude"][start], df["Longitude"][start]))
    print("\nIndex of Destination Point is: %d, and it's coordinate is: %f, %f" %(destination + 1, df["Latitude"][destination], df["Longitude"][destination]))
    return start, destination

In [74]:
def define_constants(model, V, weights):
    for i in V:
      for j in V:
        if weights[i][j] == 0:
          model += x[i][j] == 0

    for i in V:
        if i == start:
          value = 1
        elif i == destination:
          value = -1
        else:
          value = 0
        model += xsum(x[i][j] for j in V) - xsum(x[j][i] for j in V) == value

In [81]:
def print_result(x, weights):
    COST = 0
    place = start
    print("\nOptimal Path is:")
    j = 0
    while place != destination:
      if x[place][j].x == 1:
        COST += weights[place][j]
        print(str(place + 1) + " --> ", end='')
        place = j
        j = 0
      else:
        j += 1
    print(str(destination + 1))
    print("\nThe total cost of the optimal rout is:", COST)

In [80]:
start, destination = get_input(df)
V = set(range(n))
model = Model()
x = [[model.add_var(var_type=BINARY) for j in V] for i in V]
model.objective = minimize(xsum(weights[i][j]*x[i][j] for i in V for j in V))
define_constants(model, V, weights)
model.optimize()
print_result(x, weights)

The names of the places are:
1: Enghelab Square , 2: UT Enghelab campus , 3: Darvazeh Dowlat Metro Station
4: UT-Fanni campus , 5: Kasra Hospital , 6: Baqiyatallah Hospital
7: Mofid Children's Hospital, 8: Gholhak Subway Station
9: Tehran International Exhibition Center, 10: Ekhtiarie Square

Please enter the Starting Point name just as same as above names : Ekhtiarie Square

Please enter the Destination Point name just as same as above names : UT-Fanni campus

Index of Starting Point is: 10, and it's coordinate is: 35.787212, 51.466496

Index of Destination Point is: 4, and it's coordinate is: 35.724721, 51.388642

Optimal Path is:
10 --> 8 --> 7 --> 5 --> 4

The total cost of the optimal rout is: 19.0